doctype html
html(ng-app="app")
  head
    title= "AmazaonScraper data UI"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/angular.min.js")
    script(src="/js/angular-resource.min.js")
    script(src="/js/app.js")
  body(ng-controller="MainController as MainCtrl")
    block content